footer {
    padding: 50px 10px;
    text-align: right;
    .author {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #777;
        font-size: 26px;
        font-style: italic;
        padding: 150px 10px 5px 0;
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
    }
}